
  <form method= "POST" action= "/puppy">
  <h2> Puppy Name: <input type = "text" name = "name"> </h2>
  <h2> Puppy Breed: <input type = "text" name = "breed"> </h2>
  <h2> Puppy Age: <input type = "text" name = "age"> </h2>
    <input_type= "submit" value= "submit">
  </form>
